{%load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="static/img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1366, maximum-scale=1.0" name="viewport"/>
        <!-- Facebook -->
        <meta content="" property="og:url"/>
        <meta content="website" property="og:type"/>
        <!-- Twitter -->
        <meta content="photo" name="twitter:card"/>
        <link href="{% static "autech/css/vagas.css" %}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(24, 28, 40, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="vagas"/>
        <div class="anima-container-center-horizontal">
            <div class="vagas anima-flexbox-container anima-screen ">
                <div class="overlap-group-Y7zamN">
                    <img anima-src="static/img/326780-p9jgf8-718-1@1x.png" class="a326780-p9-jgf8-718-Dxw0Ot" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="veja-as-vagas-compativeis-com-suas-competencias-BwCHJ0 font-class-7">
                        <span class="span0-BwCHJ0">Veja as vagas </span><span class="span1-BwCHJ0">compatíveis<br /></span><span class="span2-BwCHJ0">com suas </span><span class="span3-BwCHJ0">competências</span><span class="span4-BwCHJ0"> </span>
                    </div>
                    <div class="menu-E3DCV4">
                        <div class="bg-RtrBFh">
                            <img anima-src="static/img/caminho-19-1@1x.png" class="caminho-19-DHDo1z" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="grupo-2-S4Qzc4">
                            <a href="{% url 'candidaturas' %}">
                                <div class="candidaturas-2ZcLjF font-class-1">
                                    CANDIDATURAS
                                </div>
                            </a>
                            <a href="{% url 'cadastro_empresas' %}">
                                <div class="para-empresas-mhxBv8 font-class-1">
                                    PARA EMPRESAS
                                </div>
                            </a>
                            <div class="vagas-Mob1Ea font-class-1">
                                VAGAS
                            </div>
                            <a href="{% url 'resultado_de_competencias' %}">
                                <div class="meu-perfil-bFLiFx font-class-1">
                                    MEU PERFIL
                                </div>
                            </a>
                        </div>
                        <img anima-src="static/img/elipse-2-1@1x.png" class="elipse-2-gixgHN" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <a href="{% url 'home' %}">
                            <img anima-src="static/img/logoautec-10@1x.png" class="logoautec-xJxzQD" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <a href="{% url 'premium' %}">
                            <div class="grupo-36-HMCxAZ">
                                <div class="retangulo-248-lzUr1s">
                                </div>
                                <div class="versao-premium-RGVN7J font-class-1">
                                    VERSÃO PREMIUM
                                </div>
                            </div>
                        </a>
                    </div>
                    <img anima-src="static/img/ret-ngulo-247-1@1x.png" class="retangulo-247-fx5MVY" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="auto-flex1-t5q8Pb anima-flexbox-container">
                    <div class="auto-flex-NJ62Do anima-flexbox-container">
                        <div class="total-yearly-impact-jRz0Fa">
                            <div class="bg-exl2Jo">
                                <img anima-src="static/img/rectangle--11@1x.png" class="rectangle-g4boHs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="your-tax-7SGi6X">
                                <div class="bar-NEjDSl">
                                    <img anima-src="static/img/rectangle-2--12@1x.png" class="rectangle-2-kAh9xg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-10@1x.png" class="rectangle-1-rokczn" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-tax-x91xkZ">
                                <div class="bar-7IIgF0">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-E8498M" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-11@1x.png" class="rectangle-1-kzjCWk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-goal-1kZRfe">
                                <div class="bar-ib6SEi">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-UZTn1Z" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-12@1x.png" class="rectangle-1-Naj1SM" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-actions-5dUQ2x">
                                <div class="bar-YZgLZq">
                                    <img anima-src="static/img/rectangle-1-13@1x.png" class="rectangle-1-cbXLA2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-donations-TuInwF">
                                <div class="bar-Gdx6LZ">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-iiV0E6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-14@1x.png" class="rectangle-1-SS1y6V" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="text-2ctgSq">
                                    <div class="a45-OmL55N font-class-5">
                                        45%
                                    </div>
                                    <div class="competencia-1-X8euvz font-class-4">
                                        Resiliência
                                    </div>
                                </div>
                            </div>
                            <div class="divider-oxDyhp">
                            </div>
                            <div class="title-5CDLxf">
                                <div class="suas-competencias-em-soft-skills-5DBCRn font-class-7">
                                    <span class="span0-5DBCRn">SUAS COMPETÊNCIAS<br />EM </span><span class="span1-5DBCRn">SOFT SKILLS </span>
                                </div>
                            </div>
                            <div class="text-zVzLMA">
                                <div class="a32-HAcu6v font-class-5">
                                    32%
                                </div>
                                <div class="competencia-2-szUyT0 font-class-4">
                                    Colaboração
                                </div>
                            </div>
                            <div class="text-LourIA">
                                <div class="a80-1Vw1z3 font-class-5">
                                    80%
                                </div>
                                <div class="competencia-2-vsxOCU font-class-4">
                                    Liderança
                                </div>
                            </div>
                            <div class="text-mo6KpJ">
                                <div class="a100-xqa4eG font-class-5">
                                    100%
                                </div>
                                <div class="competencia-2-Fm5fKc font-class-4">
                                    Empatia
                                </div>
                            </div>
                            <div class="text-ZSc7CD">
                                <div class="a32-wxX1SX font-class-5">
                                    32%
                                </div>
                                <div class="competencia-2-1Ja9ms font-class-4">
                                    Comunicação
                                </div>
                            </div>
                        </div>
                        <div class="total-yearly-impact-ajfezJ">
                            <div class="bg-g7aMmA">
                                <img anima-src="static/img/rectangle--12@1x.png" class="rectangle-Slrwf4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="your-tax-b2emZW">
                                <div class="bar-GDYrLG">
                                    <img anima-src="static/img/rectangle-2--15@1x.png" class="rectangle-2-UV8xva" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-15@1x.png" class="rectangle-1-UU8Aua" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-tax-dbKBU5">
                                <div class="bar-1xBLkQ">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-w5zOQY" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-16@1x.png" class="rectangle-1-CJj20O" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-goal-afwxsj">
                                <div class="bar-VN2xhP">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-7rEn0l" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-17@1x.png" class="rectangle-1-RzFBPy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-actions-SjD2b0">
                                <div class="bar-lNpxTZ">
                                    <img anima-src="static/img/rectangle-1-18@1x.png" class="rectangle-1-Ave0IU" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="your-donations-07w5VE">
                                <div class="bar-Wf4nmt">
                                    <img anima-src="static/img/rectangle-2--10@1x.png" class="rectangle-2-9Iilmq" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="static/img/rectangle-1-19@1x.png" class="rectangle-1-Gm0MEr" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="text-jaxxyj">
                                    <div class="a45-FnS0Hi font-class-5">
                                        45%
                                    </div>
                                    <div class="competencia-1-lEIxmB font-class-4">
                                        Python
                                    </div>
                                </div>
                            </div>
                            <div class="divider-8K3OD0">
                            </div>
                            <div class="title-ly5KQo">
                                <div class="suas-competencias-em-hard-skills-EgRTgT font-class-7">
                                    <span class="span0-EgRTgT">SUAS COMPETÊNCIAS<br />EM </span><span class="span1-EgRTgT">HARD SKILLS</span><span class="span2-EgRTgT"> </span>
                                </div>
                            </div>
                            <div class="text-9zxuOE">
                                <div class="a32-C9MxoX font-class-5">
                                    32%
                                </div>
                                <div class="competencia-2-ODvmLT font-class-4">
                                    JavaScript
                                </div>
                            </div>
                            <div class="text-0hfy9I">
                                <div class="a80-YazaF7 font-class-5">
                                    80%
                                </div>
                                <div class="competencia-2-IIsjMr font-class-4">
                                    Java
                                </div>
                            </div>
                            <div class="text-CMzfO4">
                                <div class="a100-I5D71r font-class-5">
                                    100%
                                </div>
                                <div class="competencia-2-g1a4st font-class-4">
                                    Linguagem de Programação
                                </div>
                            </div>
                            <div class="text-ptnWCP">
                                <div class="a32-2OxFHy font-class-5">
                                    32%
                                </div>
                                <div class="competencia-2-3nd9nF font-class-4">
                                    Banco de Dados
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grupo-19-5FnIDa">
                        <div class="total-yearly-impact-5Xnx4R">
                            <div class="bg-h5p8eY">
                                <img anima-src="static/img/rectangle--13@1x.png" class="rectangle-923PE0" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="divider-bJioKx">
                            </div>
                            <div class="title-USp8N6">
                                <div class="vagas-abertas-sSssbu font-class-1">
                                    VAGAS ABERTAS
                                </div>
                            </div>
                        </div>
                        <div class="componente-1-5-XkVmdF">
                            <div class="grupo-5-KiKsw3">
                                <div class="total-sale-today-9zHKGJ">
                                    <div class="bg-3oT779">
                                        <img anima-src="static/img/caminho-20-12@1x.png" class="caminho-20-ZxnP7D" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="divider-uxNXJH">
                                </div>
                            </div>
                            <div class="grupo-9-SrxDCW">
                                <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-1Lv1aX font-class-2">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                                </div>
                                <div class="informacoes-adicionais-da-vaga-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-i-sb8e6O font-class-8">
                                    <span class="span0-sb8e6O">Informações adicionais da vaga:<br /></span><span class="span1-sb8e6O">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</span>
                                </div>
                                <div class="voce-possui-as-competencias-exigidas-OizwZC font-class-1">
                                    Você possui as competências exigidas :)
                                </div>
                                <div class="analista-de-sistemas-junior-kKEASE font-class-1">
                                    Analista de Sistemas Júnior
                                </div>
                                <div class="nome-da-empresa-gCnWly font-class-6">
                                    Nome da Empresa
                                </div>
                                <a href="vagas-inscricao-realizada.html">
                                    <img anima-src="static/img/ret-ngulo-2-2@1x.png" class="retangulo-2-1FHSxm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </a>
                                <div class="candidatar-se-BYBSfX font-class-3">
                                    Candidatar-se
                                </div>
                                <img anima-src="static/img/ret-ngulo-2-10@1x.png" class="retangulo-2-xHWbBN" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="remover-NO5s7s font-class-3">
                                    Remover
                                </div>
                            </div>
                            <div class="divider-PLwGRo">
                            </div>
                        </div>
                        <div class="componente-1-6-koFWQ0">
                            <div class="grupo-5-0NyE18">
                                <div class="total-sale-today-cUvvYP">
                                    <div class="bg-dMIY9e">
                                        <img anima-src="static/img/caminho-20-12@1x.png" class="caminho-20-C4qprL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="divider-vfXbwC">
                                </div>
                            </div>
                            <div class="grupo-9-I0USBi">
                                <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-zs70wv font-class-2">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                                </div>
                                <div class="informacoes-adicionais-da-vaga-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-i-C4q4oi font-class-8">
                                    <span class="span0-C4q4oi">Informações adicionais da vaga:<br /></span><span class="span1-C4q4oi">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</span>
                                </div>
                                <div class="voce-possui-as-competencias-exigidas-1iFnO0 font-class-1">
                                    Você possui as competências exigidas :)
                                </div>
                                <div class="analista-de-sistemas-junior-SVM0ks font-class-1">
                                    Analista de Sistemas Júnior
                                </div>
                                <div class="nome-da-empresa-NS0WN4 font-class-6">
                                    Nome da Empresa
                                </div>
                                <img anima-src="static/img/ret-ngulo-2-2@1x.png" class="retangulo-2-6JORHe" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="candidatar-se-cg44IQ font-class-3">
                                    Candidatar-se
                                </div>
                                <img anima-src="static/img/ret-ngulo-2-10@1x.png" class="retangulo-2-qsT6iF" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="remover-v08rJ7 font-class-3">
                                    Remover
                                </div>
                            </div>
                            <div class="divider-lztyIJ">
                            </div>
                        </div>
                        <div class="componente-1-7-StQTgB">
                            <div class="grupo-5-vPz3R7">
                                <div class="total-sale-today-IXSLXB">
                                    <div class="bg-QNZ78I">
                                        <img anima-src="static/img/caminho-20-12@1x.png" class="caminho-20-s0Hki1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="divider-xaJnRO">
                                </div>
                            </div>
                            <div class="grupo-9-eobyHL">
                                <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-x0Sx5q font-class-2">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                                </div>
                                <div class="informacoes-adicionais-da-vaga-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-lorem-i-xaCr5m font-class-8">
                                    <span class="span0-xaCr5m">Informações adicionais da vaga:<br /></span><span class="span1-xaCr5m">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</span>
                                </div>
                                <div class="voce-possui-as-competencias-exigidas-MtwrbA font-class-1">
                                    Você possui as competências exigidas :)
                                </div>
                                <div class="analista-de-sistemas-junior-5QIEhP font-class-1">
                                    Analista de Sistemas Júnior
                                </div>
                                <div class="nome-da-empresa-Irq996 font-class-6">
                                    Nome da Empresa
                                </div>
                                <img anima-src="static/img/ret-ngulo-2-2@1x.png" class="retangulo-2-Zqhgxq" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="candidatar-se-vdgcNU font-class-3">
                                    Candidatar-se
                                </div>
                                <img anima-src="static/img/ret-ngulo-2-10@1x.png" class="retangulo-2-kH8a45" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="remover-Xl1WQE font-class-3">
                                    Remover
                                </div>
                            </div>
                            <div class="divider-8eg0og">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rodape-TlCuFS">
                    <div class="grupo-20-OXjHu9">
                        <img anima-src="static/img/caminho-28-1@1x.png" class="caminho-28-HsIjxu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="autech-2020-todos-os-direitos-reservados-NxZ87L font-class-3">
                            Autech 2020 - todos os direitos reservados
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
        <script src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js">
        </script>
    </body>
</html>
